/dts-v1/;
/plugin/;

/ {
    /*compatible = "allwinner,sun50i-h618";*/
    compatible = "allwinner,sun50i-h616"; /* h616? more info needed */

    fragment@0 {
        target-path = "/soc/spi@5011000";
        __overlay__ {
            num-cs = <2>;

                /* CS0 = PH5 CS1 = PH9 */
                cs-gpios = <&pio 7 5 0>,
                           /* <&pio 7 9 0>; - default??? */
            status = "okay";
            #address-cells = <1>;
            #size-cells = <0>;

            st7796: st7796s@0{
                compatible = "sitronix,st7796s";
                reg = <0>;
                spi-max-frequency = <25000000>;
                fps = <30>;
                buswidth = <8>;
                reset-gpios = <&pio 8 4 1>;  /* TFT RESET on PI4  */
                dc-gpios = <&pio 8 3 0>;     /* TFT D/C PI3 */
                rotate = <270>;
                debug = <1>;
                led-gpios = <&pio 8 1 0>;     /* TFT BACKLIGHT PI1 */
            };
        };
    };

    fragment@1 {
        target-path = "/soc/spi@5011000";
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            ads7846@0 {
                compatible = "ti,ads7846";
                reg = <1>;
                status = "okay";
                spi-max-frequency = <1000000>;
                interrupts = <7 4 2>; /* high-to-low edge triggered */
                    interrupt-parent = <&pio>;   /* PH4 */
                pendown-gpio = <&pio 7 4 0>;

                /* driver defaults, optional */

               ti,keep-vref-on = <1>;
               ti,x-min = /bits/ 16 <00>;
               ti,x-max = /bits/ 16 <0xFFF>;
               ti,y-min = /bits/ 16 <00>;
               ti,y-max = /bits/ 16 <0xFFF>;
               ti,x-plate-ohms = /bits/ 16 <60>;
               ti,pressure-max = /bits/ 16 <255>;
                ti,swap-xy = <0>;   };
        };
        };


    };
